/* Ball */

.ball {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Questions */

.question {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px #FFFFFF;

}

/* Form */

.custom-form {
    box-sizing: border-box;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(217, 217, 217, 0.3);
    border: 1px solid #000000;
    border-radius: 7px;

}