.containerNav {
    display: flex;
    justify-content: space-evenly;
    
}

.index {
    font-family: 'Jim Nightshade';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;

    background: conic-gradient(from 2.32deg at 72.79% 64.06%, #FF0000 0deg, #F5F5F5 158.57deg, #FF0000 360deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000000;
    text-decoration: none;

}


