.containerFooter{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    
}

.titleFooter {
    font-size: 25px;
    color: red;
    text-shadow: 2px 2px lightslategray;
}