/* Sentence */

.mainTitle {


    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;
    color: white;

    -webkit-text-stroke: 1px black;
    text-decoration: none;

}


/* Button */

.btnIkigai {

    background: #000000;
    filter: blur(1px);
    border-radius: 35px;




    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.92);

    backdrop-filter: blur(2px);


}


