
/* it can change */

h2 {
    font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    
        border-color: 1px solid #FFFFFF;

    align-content: center;
    justify-content: center;
}

form {
    text-align: center;
    margin-top: 30%;
}

.questionContainer1 {
    position: absolute;
    margin-top: 2%;
}
.questionBall1{
    box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        width: 360px;
        height: 341px;
        left: calc(50% - 360px/2);
        top: calc(50% - 341px/2 - 300.5px);
    
        background: #EF476F;
        mix-blend-mode: hard-light;
        border: 1px solid #000000;
}


.mainContainer{
    display: flex;
        justify-content: center;
        align-items: center;
 
    height: 80vh;
}

.centeredContainer{
   
    justify-items: center;
    align-items: center;
}

.columnContainer {
    display: flex;
    flex-direction: column;

}


.btnIkigai{
    margin-top: 10%;

}


